/* declare variables */
:root {
  --dark-grey-color: #2e2f30;
  --light-grey-color: #4a4b4c;
}
/* global styles */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0 auto;
  background-image: url("../images/bg1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.grid-container {
  flex: 1;
}
.main {
  height: 100%;
}
/* h1 header */
h1 {
  color: white;
  text-transform: uppercase;
  font-weight: bold;
}
/* h2 header */
h2 {
  color: white;
}
/* result card title*/
h4 {
  color: white;
  text-align: center;
  font-size: 2.25rem;
}
/* warning message if no address found*/
h5 {
  color: white;
  background-image: linear-gradient(to right, #f9a514 0%, #f9d423 100%);
  padding: 0px 10%;
  text-align: center;
  font-size: 2rem;
}
/* submit button search */
.button {
  background-image: linear-gradient(to right, #f9a514 0%, #f9d423 100%);
  margin: 10px auto;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
}
/* submit button search hover */
.button:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

/* result block on top & h3 header */
.search-results {
  margin: 0 auto;
  background-image: linear-gradient(to right, #f9a514 0%, #f9d423 100%);
  padding: 10px 0;
}
/* search result block title*/
.result {
  color: white;
  z-index: 2;
}

.result-card-content {
  background: #7abcff; /* Old browsers */
  background: -moz-radial-gradient(
    center,
    ellipse cover,
    #7abcff 0%,
    #60abf8 44%,
    #4096ee 100%
  );
  background: -webkit-gradient(
    radial,
    center center,
    0px,
    center center,
    100%,
    color-stop(0%, #7abcff),
    color-stop(44%, #60abf8),
    color-stop(100%, #4096ee)
  ); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(
    center,
    ellipse cover,
    #7abcff 0%,
    #60abf8 44%,
    #4096ee 100%
  );
  background: -o-radial-gradient(
    center,
    ellipse cover,
    #7abcff 0%,
    #60abf8 44%,
    #4096ee 100%
  );
  background: -ms-radial-gradient(
    center,
    ellipse cover,
    #7abcff 0%,
    #60abf8 44%,
    #4096ee 100%
  );
  background: radial-gradient(
    ellipse at center,
    #7abcff 0%,
    #60abf8 44%,
    #4096ee 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7abcff', endColorstr='#4096ee',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.card-map {
  margin: 2%;
}
.icons {
  color: orange;
  font-size: 2.5rem;
}
/* search result card title block hidden before user types input */
.hidden {
  display: none;
}
.main-section-full-page {
  margin: 50px;
}

.card-section {
  text-align: center;
  padding: 0 5%;
  border: white 1px solid;
}
.card-section li {
  background-color: #e6e6e6;
  margin: 10px 0;
  padding: 10px;
  max-width: 300px;
  list-style: none;
}

.list {
  margin-bottom: 10%;
}
/*form input*/
.form-input p {
  color: red;
  text-transform: uppercase;
  font-weight: bold;
  padding: 0px 20%;
  font-size: 1.5rem;
  text-align: center;
}
/* clothing suggestions */

.clothing-suggestions h5 {
  padding: 10px 0;
  background: none;
}
.clothing-suggestions p {
  font-size: 2rem;
  text-align: center;
  background-image: linear-gradient(to right, #f9a514 0%, #f9d423 100%);
}
/* weather map */
#weatherMap {
  width: 100%;
  height: 400px;
  margin: 0 auto;
  padding: 5%;
}
/* navigation & footer */
.navigation {
  background-image: linear-gradient(to right, #f83600 0%, #f9d423 100%);
  padding: 5px 5px 5px 10px;
}
.navigation a {
  color: white;
  font-style: normal;
  font-weight: bold;
}
.navigation i,
footer i {
  font-style: normal;
}
footer {
  background-color: var(--dark-grey-color);
  padding: 5px 0;
  width: 100%;
  margin-top: auto;
}
footer a {
  color: white;
  font-size: 1.25rem;
  font-style: normal;
}
